.classpath
.project
.class
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
target/
.settings/
.svn/

#.external*/
.externalToolBuilders/
mybatis-generate/

.launch
bayue/parent/backend/backend-service/backend-web/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator (2).launch
