<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 					 http://www.springframework.org/schema/beans/spring-beans.xsd
 					 http://www.springframework.org/schema/context
 					 http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="/topicService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="topicService" />
		<property name="serviceInterface" value="ng.bayue.promotion.service.TopicService" />
	</bean>
	<bean name="/topicItemService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="topicItemService" />
		<property name="serviceInterface" value="ng.bayue.promotion.service.TopicItemService" />
	</bean>


</beans>