<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <!-- 增加sqlmapper文件 -->
    <mappers>  
        <mapper resource="sqlmap/user-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/blackUser-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/consigneeAddress-mybatis-sqlmap.xml"/>

    </mappers>  
    
</configuration>  