<!doctype html>
<html lang="zh-CN">
<head>
  	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	
	<style> 
		/* css注释：只对table标签设置红色边框样式 */ 
		.table-b table th{border-bottom:1px solid  #c6d9ec}
		/* 字体加粗*/
		.b{font-weight:bold;} 
	</style> 
</head>
<body>
<div id="table" class="mt10 box span10 oh table-b">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table table-b">
		<thead>
		<tr>
			<th>样式</th>
			<th>示例</th>
		</tr>
		</thead>
		<tbody>
		<tr><td colspan="2"><b>按钮组1</b></td></tr>
		<tr>
			<td class="td_center">ext_btn ext_btn_add</td>
			<td class="td_center"><input class="ext_btn ext_btn_add" type ="button" value="按钮" /></td>
		</tr>
		<tr>
			<td class="td_center">ext_btn ext_btn_submit</td>
			<td class="td_center"><input class="ext_btn ext_btn_submit" type ="button" value="按钮按钮按钮" /></td>
		</tr>
		<tr>
			<td class="td_center">ext_btn ext_btn_success</td>
			<td class="td_center"><input class="ext_btn ext_btn_success" type ="button" value="按钮" /></td>
		</tr>
		<tr>
			<td class="td_center">ext_btn ext_btn_error</td>
			<td class="td_center"><input class="ext_btn ext_btn_error" type ="button" value="按钮按钮按钮" /></td>
		</tr>
		
		<tr><td colspan="2" class="b">按钮组2</td></tr>
		<tr>
			<td class="td_center">btn btn82 btn_add</td>
			<td class="td_center"><input class="btn btn82 btn_add" type ="button" value="增加" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_edit</td>
			<td class="td_center"><input class="btn btn82 btn_edit" type ="button" value="编辑" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_checked</td>
			<td class="td_center"><input class="btn btn82 btn_checked" type ="button" value="选中" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_nochecked</td>
			<td class="td_center"><input class="btn btn82 btn_nochecked" type ="button" value="取消选中" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_config</td>
			<td class="td_center"><input class="btn btn82 btn_config" type ="button" value="设置" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_count</td>
			<td class="td_center"><input class="btn btn82 btn_count" type ="button" value="汇总" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_del</td>
			<td class="td_center"><input class="btn btn82 btn_del" type ="button" value="删除" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_recycle</td>
			<td class="td_center"><input class="btn btn82 btn_recycle" type ="button" value="删除" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_import</td>
			<td class="td_center"><input class="btn btn82 btn_import" type ="button" value="导入" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_export1</td>
			<td class="td_center"><input class="btn btn82 btn_export1" type ="button" value="导出" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_res</td>
			<td class="td_center"><input class="btn btn82 btn_res" type ="button" value="重置" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_res</td>
			<td class="td_center"><input class="btn btn82 btn_res" type ="button" value="取消" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_save2</td>
			<td class="td_center"><input class="btn btn82 btn_save2" type ="button" value="保存" /></td>
		</tr>
		<tr>
			<td class="td_center">btn btn82 btn_search</td>
			<td class="td_center"><input class="btn btn82 btn_search" type ="button" value="搜索" /></td>
		</tr>
		</tbody>
		
		
	</table>

</div>

</body>
</html>
   
 