<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
		
	<!-- 域名配置 -->
	<util:properties id="config" location="classpath:config/metainfo.properties" />
	<import resource="classpath:spring/spring-cache-redis.xml" />
	<import resource="classpath:spring/spring-hessian.xml" />
	<context:component-scan base-package="com.meitun.scheduler.*"/>
	<context:annotation-config />
	<bean id="jobConstant" class="com.meitun.scheduler.JobConstant"/>
	<import resource="classpath:spring/salesorder-job.xml" />
	<import resource="classpath:spring/payment-job.xml" />
	<import resource="classpath:spring/quartz-storage-job.xml" />
	<import resource="classpath:spring/quartz-itemcomment-job.xml" />
	<import resource="classpath:spring/experreportcache-job.xml" />
	<import resource="classpath:spring/trialorder-job.xml" />
	<import resource="classpath:spring/finance-job.xml" />
	<import resource="classpath:spring/insuranceorder-job.xml" />
	<import resource="classpath:spring/tptf-job.xml" />
<!-- 	<bean id="configserver" class="com.meitun.configserver.client.ConfigServerNewClient" -->
<!-- 		init-method="init" lazy-init="false"> -->
<!-- 		        <property name="appName" value="timetask-front"></property>红色字体是应用名称，此应用名称之后会配置在服务端 -->
<!-- 	</bean> -->
	
	<!-- <bean id="hessianLogMonitor" class="com.meitun.hessian.spring.extend.HessianLogMonitor"></bean> -->
	
</beans>