<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 					 http://www.springframework.org/schema/beans/spring-beans.xsd
 					 http://www.springframework.org/schema/context
 					 http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="/itemInfoService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="itemInfoService" />
		<property name="serviceInterface" value="ng.bayue.item.service.ItemInfoService" />
	</bean>
	<bean name="/itemDetailService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="itemDetailService" />
		<property name="serviceInterface" value="ng.bayue.item.service.ItemDetailService" />
	</bean>
	<bean name="/itemPicturesService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="itemPicturesService" />
		<property name="serviceInterface" value="ng.bayue.item.service.ItemPicturesService" />
	</bean>
	<bean name="/detailSpecService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="detailSpecService" />
		<property name="serviceInterface" value="ng.bayue.item.service.DetailSpecService" />
	</bean>
	<bean name="/itemService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="itemService" />
		<property name="serviceInterface" value="ng.bayue.item.service.ItemService" />
	</bean>


</beans>