<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  

	<typeAliases>
		<!-- <package name="ng.bayue.base.domain"/> -->
		<typeAlias type="ng.bayue.base.domain.CategoryDO" alias="categoryDO"/>
	</typeAliases>

    <!-- 增加sqlmapper文件 -->
    <mappers>  
        <mapper resource="sqlmap/category-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/forbiddenWords-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/strategy-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/districtInfo-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/ipInfo-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/dictionary-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/spec-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/specGroup-mybatis-sqlmap.xml"/>
        <mapper resource="sqlmap/specGroupLink-mybatis-sqlmap.xml"/>

    </mappers>  
    
</configuration>  