<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 					 http://www.springframework.org/schema/beans/spring-beans.xsd
 					 http://www.springframework.org/schema/context
 					 http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean name="/categoryService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="categoryService" />
		<property name="serviceInterface" value="ng.bayue.base.service.CategoryService" />
	</bean>
	<bean name="/forbiddenWordsService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="forbiddenWordsService" />
		<property name="serviceInterface" value="ng.bayue.base.service.ForbiddenWordsService" />
	</bean>
	<bean name="/strategyService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="strategyService" />
		<property name="serviceInterface" value="ng.bayue.base.service.StrategyService" />
	</bean>
	<bean name="/districtInfoService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="districtInfoService" />
		<property name="serviceInterface" value="ng.bayue.base.service.DistrictInfoService" />
	</bean>
	<bean name="/ipInfoService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="ipInfoService" />
		<property name="serviceInterface" value="ng.bayue.base.service.IpInfoService" />
	</bean>
	<bean name="/dictionaryService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="dictionaryService" />
		<property name="serviceInterface" value="ng.bayue.base.service.DictionaryService" />
	</bean>
	<bean name="/specService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="specService" />
		<property name="serviceInterface" value="ng.bayue.base.service.SpecService" />
	</bean>
	<bean name="/specGroupService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="specGroupService" />
		<property name="serviceInterface" value="ng.bayue.base.service.SpecGroupService" />
	</bean>
	<bean name="/specGroupLinkService.hessian"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="specGroupLinkService" />
		<property name="serviceInterface" value="ng.bayue.base.service.SpecGroupLinkService" />
	</bean>
	

</beans>