<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 此处bean里的配置 请填写在properties的配置文件中 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${redis.maxTotal}" /><!-- 连接池中最大实例 数-->
		<property name="maxIdle" value="${redis.maxIdle}" /><!-- 连接池中最大闲置实例数-->
		<property name="minIdle" value="${redis.minIdle}" /><!-- 连接池中最小闲置实例数-->
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}" /><!-- 最长等待时间 默认值为-1 单位：毫秒-->
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" name="host" value="${redis.host}"/>
	</bean>

	<bean id="redisCacheService" class="ng.bayue.service.impl.RedisCacheServiceImpl">
		<property name="jedisPool" ref="jedisPool"/>
	</bean>
	
	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<bean id="cache_jedis_shard_info_0" class="redis.clients.jedis.JedisShardInfo"
		scope="singleton">
		<constructor-arg name="host" value="#{meta['redis.cache.01.host']}" /><!-- IP -->
		<constructor-arg name="port" value="#{meta['redis.cache.01.port']}" type="int" /><!-- 端口 -->
		<constructor-arg name="timeout" value="#{meta['redis.cache.01.timeout']}" type="int" /><!-- 超时时间设置 默认2000 -->
		<constructor-arg name="weight" value="#{meta['redis.cache.01.weight']}" type="int" /><!-- 权重 默认为1-->
	</bean>
	<bean id="cacheShardJedisPool" class="ng.bayue.redis.CacheShardedJedisPool"
		destroy-method="destroy">
		<constructor-arg name="poolConfig" ref="jedisPoolConfig"></constructor-arg>
		<constructor-arg name="shards">
			<list>
				<ref bean="cache_jedis_shard_info_0" />
			</list>
		</constructor-arg>
	</bean>
	<!-- JedisCacheUtil bean 配置,如果一个应用中有多个业务，使用的缓存是不同的系统，可以配置多个此类，但  spring bean id 一定不能重复 -->
	<bean id="redisCacheService1" class="ng.bayue.service.impl.RedisCacheServiceImpl1" scope="singleton">
		<property name="shardedJedisPool" ref="cacheShardJedisPool"></property>
	</bean>
	

</beans>